In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("CleanedData.csv")
df.head(5)

,Fever,Tiredness,Dry-Cough,Difficulty-in-Breathing,Sore-Throat,None_Sympton,Pains,Nasal-Congestion,Runny-Nose,Diarrhea,...,Gender_Male,Gender_Transgender,Severity_Mild,Severity_Moderate,Severity_None,Severity_Severe,Contact_Dont-Know,Contact_No,Contact_Yes,Country
0,1,1,1,1,1,0,1,1,1,1,...,1,0,1,0,0,0,0,0,1,China
1,1,1,1,1,1,0,1,1,1,1,...,1,0,1,0,0,0,0,1,0,China
2,1,1,1,1,1,0,1,1,1,1,...,1,0,1,0,0,0,1,0,0,China
3,1,1,1,1,1,0,1,1,1,1,...,1,0,0,1,0,0,0,0,1,China
4,1,1,1,1,1,0,1,1,1,1,...,1,0,0,1,0,0,0,1,0,China

In [3]:
df.shape

(316800, 27)

In [4]:
df.columns

Index(['Fever', 'Tiredness', 'Dry-Cough', 'Difficulty-in-Breathing',
       'Sore-Throat', 'None_Sympton', 'Pains', 'Nasal-Congestion',
       'Runny-Nose', 'Diarrhea', 'None_Experiencing', 'Age_0-9', 'Age_10-19',
       'Age_20-24', 'Age_25-59', 'Age_60+', 'Gender_Female', 'Gender_Male',
       'Gender_Transgender', 'Severity_Mild', 'Severity_Moderate',
       'Severity_None', 'Severity_Severe', 'Contact_Dont-Know', 'Contact_No',
       'Contact_Yes', 'Country'],
      dtype='object')

In [5]:
df.dtypes

Fever                       int64
Tiredness                   int64
Dry-Cough                   int64
Difficulty-in-Breathing     int64
Sore-Throat                 int64
None_Sympton                int64
Pains                       int64
Nasal-Congestion            int64
Runny-Nose                  int64
Diarrhea                    int64
None_Experiencing           int64
Age_0-9                     int64
Age_10-19                   int64
Age_20-24                   int64
Age_25-59                   int64
Age_60+                     int64
Gender_Female               int64
Gender_Male                 int64
Gender_Transgender          int64
Severity_Mild               int64
Severity_Moderate           int64
Severity_None               int64
Severity_Severe             int64
Contact_Dont-Know           int64
Contact_No                  int64
Contact_Yes                 int64
Country                    object
dtype: object

In [6]:
df.isna().sum()

Fever                      0
Tiredness                  0
Dry-Cough                  0
Difficulty-in-Breathing    0
Sore-Throat                0
None_Sympton               0
Pains                      0
Nasal-Congestion           0
Runny-Nose                 0
Diarrhea                   0
None_Experiencing          0
Age_0-9                    0
Age_10-19                  0
Age_20-24                  0
Age_25-59                  0
Age_60+                    0
Gender_Female              0
Gender_Male                0
Gender_Transgender         0
Severity_Mild              0
Severity_Moderate          0
Severity_None              0
Severity_Severe            0
Contact_Dont-Know          0
Contact_No                 0
Contact_Yes                0
Country                    0
dtype: int64

In [23]:
df.iloc[:,19:23]

        Severity_Mild  Severity_Moderate  Severity_None  Severity_Severe
0                   1                  0              0                0
1                   1                  0              0                0
2                   1                  0              0                0
3                   0                  1              0                0
4                   0                  1              0                0
...               ...                ...            ...              ...
316795              0                  0              0                1
316796              0                  0              0                1
316797              0                  0              1                0
316798              0                  0              1                0
316799              0                  0              1                0

[316800 rows x 4 columns]

In [24]:
mild_index = df[df.Severity_Mild == 1].index
mild_index

Int64Index([     0,      1,      2,     12,     13,     14,     24,     25,
                26,     36,
            ...
            316754, 316764, 316765, 316766, 316776, 316777, 316778, 316788,
            316789, 316790],
           dtype='int64', length=79200)

In [25]:
moderate_index = df[df.Severity_Moderate == 1].index
moderate_index

Int64Index([     3,      4,      5,     15,     16,     17,     27,     28,
                29,     39,
            ...
            316757, 316767, 316768, 316769, 316779, 316780, 316781, 316791,
            316792, 316793],
           dtype='int64', length=79200)

In [26]:
none_index = df[df.Severity_None == 1].index
none_index

Int64Index([     9,     10,     11,     21,     22,     23,     33,     34,
                35,     45,
            ...
            316763, 316773, 316774, 316775, 316785, 316786, 316787, 316797,
            316798, 316799],
           dtype='int64', length=79200)

In [27]:
severe_index = df[df.Severity_Severe == 1].index
severe_index

Int64Index([     6,      7,      8,     18,     19,     20,     30,     31,
                32,     42,
            ...
            316760, 316770, 316771, 316772, 316782, 316783, 316784, 316794,
            316795, 316796],
           dtype='int64', length=79200)

In [28]:
df['Target'] = np.nan

In [29]:
df.head(2)

,Fever,Tiredness,Dry-Cough,Difficulty-in-Breathing,Sore-Throat,None_Sympton,Pains,Nasal-Congestion,Runny-Nose,Diarrhea,...,Gender_Transgender,Severity_Mild,Severity_Moderate,Severity_None,Severity_Severe,Contact_Dont-Know,Contact_No,Contact_Yes,Country,Target
0,1,1,1,1,1,0,1,1,1,1,...,0,1,0,0,0,0,0,1,China,NaN
1,1,1,1,1,1,0,1,1,1,1,...,0,1,0,0,0,0,1,0,China,NaN

In [38]:
df.iloc[mild_index, -1] = 'mild'
df.iloc[moderate_index, -1] = 'moderate'
df.iloc[none_index, -1] = 'none'
df.iloc[severe_index, -1] = 'severe'

In [39]:
df.Target.head()

0        mild
1        mild
2        mild
3    moderate
4    moderate
Name: Target, dtype: object

In [40]:
df.Target.isna().sum()

0

In [43]:
#df.columns[19:23]

Index(['Severity_Mild', 'Severity_Moderate', 'Severity_None',
       'Severity_Severe'],
      dtype='object')

In [45]:
df.drop(columns=df.columns[19:23], inplace=True)

In [46]:
df.columns

Index(['Fever', 'Tiredness', 'Dry-Cough', 'Difficulty-in-Breathing',
       'Sore-Throat', 'None_Sympton', 'Pains', 'Nasal-Congestion',
       'Runny-Nose', 'Diarrhea', 'None_Experiencing', 'Age_0-9', 'Age_10-19',
       'Age_20-24', 'Age_25-59', 'Age_60+', 'Gender_Female', 'Gender_Male',
       'Gender_Transgender', 'Contact_Dont-Know', 'Contact_No', 'Contact_Yes',
       'Country', 'Target'],
      dtype='object')

In [47]:
df.Target.value_counts()

moderate    79200
severe      79200
none        79200
mild        79200
Name: Target, dtype: int64

In [112]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [50]:
df.Country = LabelEncoder().fit_transform(df.Country)

In [51]:
df.Country.value_counts()

0    31680
1    31680
2    31680
3    31680
4    31680
5    31680
6    31680
7    31680
8    31680
9    31680
Name: Country, dtype: int64

In [52]:
df.columns

Index(['Fever', 'Tiredness', 'Dry-Cough', 'Difficulty-in-Breathing',
       'Sore-Throat', 'None_Sympton', 'Pains', 'Nasal-Congestion',
       'Runny-Nose', 'Diarrhea', 'None_Experiencing', 'Age_0-9', 'Age_10-19',
       'Age_20-24', 'Age_25-59', 'Age_60+', 'Gender_Female', 'Gender_Male',
       'Gender_Transgender', 'Contact_Dont-Know', 'Contact_No', 'Contact_Yes',
       'Country', 'Target'],
      dtype='object')

In [62]:
#df.iloc[2122:,[16,17,18]]

# we can drop Gender_Female  dummy var trap

In [95]:

# we can drop all Contact

In [72]:
#df.iloc[:,11:16]

# can drop Age_0-9 dummy var trap

In [90]:
#df.iloc[:,0:6]

In [ ]:
#df[(df.None_Sympton == 1)]

In [79]:
#df[(df.None_Sympton == 1) & (df.Fever == 0) & (df.Tiredness == 0) & (df['Dry-Cough'] == 0) & (df['Difficulty-in-Breathing'] == 0) & (df['Sore-Throat'] == 0)]

In [80]:
# we can drop None_Sympton dummy var trap

In [87]:
#df[(df.None_Experiencing == 1)].index

In [88]:
#df[(df.None_Experiencing == 1) & (df.Pains == 0) & (df['Nasal-Congestion'] == 0) & (df['Runny-Nose'] == 0) & (df['Diarrhea'] == 0)].index

In [89]:
# can drop None_Experiencing dummy var trap

In [97]:
df.drop(columns = ['Gender_Female', 'Contact_Dont-Know', 
                   'Contact_No', 'Contact_Yes',
                   'Age_0-9', 'None_Sympton', 
                   'None_Experiencing'], inplace=True)

In [113]:
df.shape

(316800, 17)

In [118]:
df.iloc[:,:-1] = MinMaxScaler().fit_transform(df.iloc[:,:-1])

In [120]:
df.head(5)

,Fever,Tiredness,Dry-Cough,Difficulty-in-Breathing,Sore-Throat,Pains,Nasal-Congestion,Runny-Nose,Diarrhea,Age_10-19,Age_20-24,Age_25-59,Age_60+,Gender_Male,Gender_Transgender,Country,Target
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,mild
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,mild
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,mild
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,moderate
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,moderate

In [121]:
test_data = df.sample(int(0.2 * df.shape[0]))
test_data.shape

(63360, 17)

In [122]:
test_data.to_csv('test_data.csv', index=False)

In [123]:
train_data = df.drop(index = test_data.index)
train_data.shape

(253440, 17)

In [124]:
train_data.to_csv('train_data.csv',index=False)